html,
body {
    background-color: #935d8c;
    min-height: 100%;
    background-image: url("img/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("img/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("img/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    /*background: url('maiil.jpg');#337ab7;
    background-size:contain;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}


.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.marg {
    margin-top:8px;
    margin-left:5px;
}

.margin
{
    display:inline-flex;
}

.margleft
{
    margin-left:20px;
    color:white;
    font-style: oblique;
    transform: skewX(35deg);
    margin-top:10px;
}

/*.margleft:hover
{
    transform: skewX(0deg);
}
*/
.margtop
{
    margin-top:-10px;
}
li {
    list-style-type: none;

}
.fontt{
    font-style: oblique;
}

.first{
    background: url("img/first.jpg");
}
.data
{
  margin-left:10px;
}
img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.block
{
    margin-top:10px;
    padding:5px;
    background: white;
    border-radius: 10px;
    border:2px solid #4682B4;
}

.link{
    text-decoration: none;
    color:black;
}

.link:hover {
    text-decoration: none;
    color:black;
}

.text
{
    margin-left:55px;
}

.edit:hover
{
    display:inline-block;
}
.edit
{
    display:none;
}

.tooltip {
    display: block;
    opacity: 0;
    padding-top:25px;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    -o-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
}

    .widget:hover .tooltip {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }

    .widget_fixed .tooltip {
        pointer-events: none;
    }
    .widget_fixed:hover .tooltip {
        pointer-events: auto;
    }

    .widget {
    display: inline-flex;
    text-align: left;
    }

    .sidebars
    {
        width: 400px;
    }

    .main_photo
    {
        width: 70%;
        height: 400px;
    }

    .margs
    {
        height: 400px;
        width:25%;
    }
    .style_links
    {
        font-style: oblique;
        font-color:black;
        font-size: 16pt;
    }

    .blocks
    {
    background: white;
    width:100%;
    text-align: center;
}   
.blck{
    color:black;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    border-radius:10px;
    z-index: 1000;
    width: 25%;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:black;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin-top:5px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding:3px;
    background: white;
    border-radius:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: silver;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.box-shadow {
    margin:auto;
    background: white;
    padding:50px;
    text-align:center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}